{% extends '../base/base.html' %}

{% block content %} 

     <!-- Utilisateur -->
    <div class="col-sm-7 ">
        <div>
            <a href="{% url 'medecin_logout' %}" class="btn btn-primary">Deconnexion</a>
        </div>
        <br>

        <h3 class="alert alert-success">Les Commentaires</h3>
        {% if comment %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id_resultat</th>
                <th scope="col">Id_medecin</th>
                <th scope="col">Comments </th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            {% for comments in comment %}
            <tbody>
            <tr>
                <th scope="row">{{util.id}}</th>
                <td>{{comments.id_resultat}}</td>
                <td>{{comments.id_medecin}}</td>
                <td>{{comments.comments}}</td>
                <td>
                    <a href="" class="btn btn-warning">Mofier</a>
                    <form action="{% url 'delete_data_comment' comments.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>

    {% else %}
    <h4 class="alert alert-danger"></h4>
    {% endif %}
    </div>

{% endblock content %} 