<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Laboratoire Medicale || MAGIC TEST</title>
</head>
<body class="">
    <div class="container mt-3">
        <h3 class="text-center alert alert-primary">Laboratoire Medical System</h3>
        {% block content %}  {% endblock content %}
    </div>
</body>
</html>