{% extends '../base/base.html' %}

{% block content %}
<form action="{% url 'login_DirecDocter' %}" method="post">
    {% csrf_token %}

    <br>
    <h1>Login Docter</h1>
    <br>

    {{form.as_p}}
    

    {% if messages %}

    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}

    {% endif %}

    <button type="submit" class="btn btn-primary">Se connecter</button>

    <br><br>

    <p>Tu na pas un compte ? <a href="{% url 'user_inscription'%}">S'eregistrer</a></p>
</form>

{% endblock content %}
