{% extends '../base/base.html' %}

{% block content %} 

     <!-- Utilisateur -->
    <div class="">
        <div>
            <a href="{% url 'comment_register' %}" class="btn btn-success">Add Comment</a>
            <a href="{% url 'medecin_logout' %}" class="btn btn-primary">Deconnexion</a>
        </div>
        <br>
        <h3 class="alert alert-success">Les Ordonnancess</h3>
        {% if ordonnance %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id_client</th>
                <th scope="col">Id_medecin </th>
                <th scope="col">Date_ordonnance </th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            {% for ordonnances in ordonnance %}
            <tbody>
            <tr>
                <th scope="row">{{ordonnances.id}}</th>
                <td>{{ordonnances.id_client}}</td>
                <td>{{ordonnances.id_medecin}}</td>
                <td>{{ordonnances.date_ordonnance}}</td>
                <td>
                    <a href="" class="btn btn-warning">Mofier</a>
                    <form action="{% url 'delete_data_ordonn' ordonnances.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>

    {% else %}
    <h4 class="alert alert-danger"></h4>
    {% endif %}
    </div>

{% endblock content %} 
