{% extends '../base/baseContent.html' %}


{% block navbar %}

<!-- NAV BARA CONTENT -->

<ul class="nav">
                    
    <li class="nav-item navbar-brand-mini-wrapper">
        <a class="nav-link navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
    </li>

    <br><br>

    <li class="nav-item nav-category"><span class="nav-link">DASHBOARD</span></li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'users' %}">
            <span class="menu-title">Dashboard</span>
            <i class="icon-screen-desktop menu-icon"></i>
        </a>
    </li>


    <li class="nav-item nav-category"><span class="nav-link">CONTENT</span></li>

    <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">Directer Docter</span>
            <i class="icon-layers menu-icon"></i>
        </a>

        <div class="collapse" id="ui-basic">

        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'user_inscription' %}">Sign up</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'login_DirecDocter' %}">Signin</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'direct_docter' %}">Contents</a></li>
        </ul>

        </div>
    </li>

    <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
            <span class="menu-title">Laboratin</span>
            <i class="icon-globe menu-icon"></i>
        </a>

        <div class="collapse" id="icons">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'medecin_Register' %}">Save</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'laboratory' %}">View</a></li>
            </ul>
        </div>

    </li>

    <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#forms" aria-expanded="false" aria-controls="forms">
        <span class="menu-title">Clients (Patient)</span>
        <i class="icon-book-open menu-icon"></i>
        </a>

        <div class="collapse" id="forms">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'client' %}">view Patient</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'client_Register' %}">Save Patient</a></li>
        </ul>
        </div>
    </li>

    <!-- <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">Specialty</span>
        <i class="icon-disc menu-icon"></i>
        </a>

        <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Save </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> View </a></li>
        </ul>
        </div>

    </li> -->

    <li class="nav-item">
        <a class="nav-link" href="{% url 'speciality' %}">
            <span class="menu-title">Speciality</span>
        </a>
    </li>
    


    <li class="nav-item nav-category"><span class="nav-link">Laboratory Activity</span></li>


    <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-title">Examen</span>
            <i class="icon-disc menu-icon"></i>
        </a>

        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'examens' %}"> View </a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="{% url 'user_labo' %}"> Save </a></li> -->
            </ul>
        </div>


    </li>

<li class="nav-item nav-category"><span class="nav-link">Help</span></li>
<!-- <li class="nav-item">
    <a class="nav-link" href="../../docs/documentation.html" target="_blank">
    <span class="menu-title">Documentation</span>
    <i class="icon-folder-alt menu-icon"></i>
    </a>
</li> -->

</ul>


{% endblock navbar %}

{% block content %}

{% if direct_docters %}


<!-- Table of users -->

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="d-sm-flex align-items-center mb-4">
                <h4 class="card-title mb-sm-0">Directer Docter</h4>
                <!-- <a href="#" class="text-dark ms-auto mb-3 mb-sm-0"> View all P</a> -->
            </div>

            <!-- table -->
                <table class="table table-hover">
                    <thead>
                        <tr class="font-weight-medium">
                            <th scope="col" style="text-transform: capitalize; font-weight: bolder; ">#</th>
                            <th scope="col" style="text-transform: capitalize; font-weight: bolder; ">Matricule</th>
                            <th scope="col" style="text-transform: capitalize; font-weight: bolder; ">Email</th>
                            <th scope="col" style="text-transform: capitalize; font-weight: bolder; ">Phone Num</th>
                            <th scope="col" style="text-transform: capitalize; font-weight: bolder; ">Adress</th>
                            <th scope="col" style="text-transform: capitalize; font-weight: bolder; ">Birthaday data</th>
                            <th scope="col" style="text-transform: capitalize; font-weight: bolder; ">Gender</th>
                            <!-- <th scope="col" style="text-transform: capitalize; font-weight: bolder; ">Specialty</th> -->
                            <th scope="col" style="text-transform: capitalize; font-weight: bolder; ">Action</th>
                            <!-- <th scope="col">Action</th> -->
                        </tr>
                    </thead>
                    
                    {% for direct_docter in direct_docters %}
                    <tbody>
                        <tr>
                            <th scope="row">{{direct_docter.id}}</th>
                            <td>{{direct_docter.user.matricule}}</td>
                            <td>{{direct_docter.user.email}}</td>
                            <td>{{direct_docter.user.phone_numb}}</td>
                            <td>{{direct_docter.user.adress}}</td>
                            <td>{{direct_docter.user.birthday_date}}</td>
                            <td>{{direct_docter.user.gender}}</td>
                            <td class="d-flex gap-2">
                                <a href="">
                                    <form action="" method="get">
                                        <button class="btn btn-primary px-2">View</button>
                                    </form>
                                </a>

                                <a href="">
                                    <form action="" method="get">
                                        <button class="btn btn-warning px-2">Update</button>
                                    </form>
                                </a>

                                <a href="">
                                    <form action="" method="get">
                                        <button class="btn btn-danger px-2">Delete</button>
                                    </form>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                    {% endfor %}
                </table>

            <!-- </div> -->
            <div class="d-flex mt-4 flex-wrap align-items-center">
                <p class="text-muted mb-sm-0">Showing 1 to 10 of 57 entries</p>

                <nav class="ms-auto">
                <ul class="pagination separated pagination-info mb-sm-0">
                    <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
                </ul>
                </nav>

            </div>
            </div>
        </div>
        
    </div>
    </div>
</div>


{% else %}
<p class="alert alert-primary">There are no Laboratory </p>
{% endif %}

{% endblock content %}
