{% extends '../base/base.html' %}

{% block content %}

     <!-- Utilisateur -->
    <div class="col-sm-7 ">
        <a href="{% url 'deconnexion' %}" class="btn btn-primary">Deconnexion</a>
        <h3 class="alert alert-success">Les utilisateurs</h3>
        {% if medecin %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">phone_numb</th>
                <th scope="col">Speciality</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            {% for medecins in medecin %}
            <tbody>
            <tr>
                <th scope="row">{{medecins.id}}</th>
                <td>{{medecins.names}}</td>
                <td>{{medecins.email}}</td>
                <td>{{medecins.phone_numb}}</td>
                <td>{{medecins.speciality}}</td>
                <td>
                    <a href="" class="btn btn-warning">Mofier</a>
                    <a href="" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>

    {% else %}
    <h4 class="alert alert-danger"></h4>
    {% endif %}
    </div>

{% endblock content %}
