{% extends '../base/base.html' %}

{% block content %}

<form action="" method="post">

    <div>
        <a href="{% url 'medecin_logout' %}" class="btn btn-primary">Deconnexion</a>
    </div>
    <br>


    <div>
        <h3 class="text-primary my-3">Save Ordonnance</h3>
    </div>
    {% csrf_token %}
    {{ordonnance.as_p}}
    <button type="submit" class="btn btn-success">Envoyer</button>
    {% comment %} <a href="{% url 'client_Register' %}">Client</a> {% endcomment %}
</form>

{% endblock content %}
