<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'connexion_MD' %}" method="post">
        {% csrf_token %}

        <div>
            <label for="">username</label>
            <input type="text" name="username" id="">
        </div>
        <br>
        <br>

        <div>
            <label for="">Password</label>
            <input type="password" name="password" id="">
        </div>

        <br>
        <br>

        {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        <button type="submit">Se connecter</button>
    </form>
</body>
</html>