{% extends '../base/base.html' %}

<!-- <title>Laboratoire Medicale || Register Client</title> -->
{% block content %}

    <div class="" style="width: 100%; display: flex;  align-items: center; justify-content: center;"></div>
        <div class="border border-4 border-info rounded " style="width: 35rem; padding: 1.5rem 3rem; ">
            <form action="" method="post">

                <div>
                    <h3 class="text-primary my-3">Enregister Client</h3>
                </div>

                {% csrf_token %}

                {{data_gene.as_p}}
                {{clien.as_p}}



                <button class="btn btn-info text-white" type="submit">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock content %}
