{% extends '../base/baseContent.html' %}


{% block profile %}

<!-- PROFILE  -->


{% endblock profile %}



{% block navbar %}

<!-- NAV BARA CONTENT -->

<ul class="nav">
                    
    <li class="nav-item navbar-brand-mini-wrapper">
        <a class="nav-link navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
    </li>

    <br><br>

    <li class="nav-item nav-category"><span class="nav-link">DASHBOARD</span></li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'users' %}">
            <span class="menu-title">Dashboard</span>
            <i class="icon-screen-desktop menu-icon"></i>
        </a>
    </li>


    <li class="nav-item nav-category"><span class="nav-link">CONTENT</span></li>

    <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">Directer Docter</span>
            <i class="icon-layers menu-icon"></i>
        </a>

        <div class="collapse" id="ui-basic">

        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'user_inscription' %}">Sign up</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'login_DirecDocter' %}">Signin</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'direct_docter' %}">Contents</a></li>
        </ul>

        </div>
    </li>

    <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
            <span class="menu-title">Laboratin</span>
            <i class="icon-globe menu-icon"></i>
        </a>

        <div class="collapse" id="icons">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'medecin_Register' %}">Save</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'laboratory' %}">View</a></li>
            </ul>
        </div>

    </li>

    <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#forms" aria-expanded="false" aria-controls="forms">
        <span class="menu-title">Clients (Patient)</span>
        <i class="icon-book-open menu-icon"></i>
        </a>

        <div class="collapse" id="forms">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'client' %}">view Patient</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'client_Register' %}">Save Patient</a></li>
        </ul>
        </div>
    </li>

    <!-- <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">Specialty</span>
        <i class="icon-disc menu-icon"></i>
        </a>

        <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Save </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> View </a></li>
        </ul>
        </div>

    </li> -->

    <li class="nav-item">
        <a class="nav-link" href="{% url 'speciality' %}">
            <span class="menu-title">Speciality</span>
        </a>
    </li>
    


    <li class="nav-item nav-category"><span class="nav-link">Laboratory Activity</span></li>


    <li class="nav-item">

        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-title">Examen</span>
            <i class="icon-disc menu-icon"></i>
        </a>

        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'examens' %}"> View </a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="{% url 'user_labo' %}"> Save </a></li> -->
            </ul>
        </div>


    </li>

<li class="nav-item nav-category"><span class="nav-link">Help</span></li>
<!-- <li class="nav-item">
    <a class="nav-link" href="../../docs/documentation.html" target="_blank">
    <span class="menu-title">Documentation</span>
    <i class="icon-folder-alt menu-icon"></i>
    </a>
</li> -->

</ul>


{% endblock navbar %}



{% block content %}


<form action="" method="post">


    <div>
        <h3 class="text-primary my-3">Save Resultat</h3>
    </div>

    {% csrf_token %}
    {{resultat_save.as_p}}
    <br>
    <button type="submit" class="btn btn-primary">Envoyer</button>
    <br><br><br><br><br>

    <!-- {% comment %} <a href="{% url 'client_Register' %}">Client</a> {% endcomment %} -->
</form>

{% endblock content %}
