{% extends './base.html' %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        <br>
        <h1>login Laboratory</h1>
        <br>

        {{ form.as_p }}


        <button type="submit" class="btn btn-primary">Login</button>

        <br><br>
        <!-- <p class="alrt alert-secondary">Tu na pas un compte <a href="{% url 'medecin_Register' %}" class="alert-primary">S'inscrire</a></p> -->
    </form>

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

{% endblock content %}
